@import url ('https://fonts.googleapis.com/css?family= Montserrat');

body {
    font-family: "Montserrat", sans-serif;
}

.header {
    background: url("../img/Sections-background/section-1(header).jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.section-title {
    margin-bottom: 72px;
    color: rgb(78, 78, 78);
    font-size: 36px;
    line-height: 40px;
    text-align: center;
}

.section-title::after {
    margin-top: 30px;
    content: "";
    display: block;
    background-color: rgb(24, 207, 171);
    position: absolute;
    left: 615px;
    width: 100px;
    height: 1px;
    box-shadow: 20px 3px rgb(24, 207, 171);
}

.navbar {
    background-color: rgba(73, 71, 63, 0.6);
    padding: 26px 0;
}

.navbar_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    position: relative;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-letter {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 40px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}

.main-name {
    padding-left: 5px;
    font-size: 15.4281pt;
    font-weight: 400;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}

.main-name > span {
    color: #18cfab;
}

.hexagon {
    position: relative;
    width: 58px;
    height: 33.49px;
    background-color: rgb(24, 207, 171);
    margin: 16.74px 0;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 16.74px solid rgb(24, 207, 171);
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 16.74px solid rgb(24, 207, 171);
}

.navbar-right-col {
    display: flex;
    align-items: center;
}

.header-right-menu {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right-menu a {
    padding-right: 5px;
    padding-left: 5px;
    color: rgb(184, 184, 184);
    font-size: 13px;
    text-decoration: none;
}

.header-right-menu li {
    display: inline-block;
    font-weight: 700;
    position: relative;
}

.header-right-menu a::after, .search::after  {
    content: "";
    border-bottom: 3px solid rgb(24, 207, 171);
    display: block;
    width: 0px;
    position: absolute;
    left: 50%;
    top: 68px;
}

.header-right-menu a:hover::after {
    width: 100%;
    left: 0;
    transition: all .2s linear;
}

.header-right-menu a:hover, .search:hover {
    cursor: pointer;
    color: rgb(24, 207, 171);
    transition: background .1s ease-in-out;

}

.search {
    margin-left: 17px;
    color:rgb(184, 184, 184);
}

.main-slogan {
    padding-top: 246px;
}

.ham-wordpress {
    padding-bottom: 45px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.worldpress-theme {
    color: rgb(24, 207, 171);
}

h1 {
    padding-bottom: 30px;
    color: rgb(255, 255, 255);
    font-size: 79px;
    font-weight: 700;
    line-height: 74px;
    text-align: center;
}

.just-buy {
    padding-bottom: 150px;
    color: rgb(212, 212, 212);
    font-size: 34px;
    font-weight: 300;
    line-height: 74px;
    text-align: center;
}

.buttons {
    padding-bottom: 150px;
    text-align: center;
}

.btn-explore::before,
.btn-purchase::before,
.btn-purchase1::before {
    content: "";
    display: block;
    width: 166px;
    background-color: rgb(255, 255, 255);
    height: 5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 4px 4px 0 0;
}

.btn-explore {
    border: none;
    border-radius: 4px;
    background-color: rgb(24, 207, 171);
    width: 166px;
    height: 61px;
    margin-right: 20px;
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}



.btn-purchase {
    border: none;
    border-radius: 4px;
    background-color: rgb(20, 185, 213);
    width: 166px;
    height: 61px;
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}

.background-section2 {
    padding-bottom: 125px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), url("../img/Sections-background/section-2.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
}



.advantages {
    background-size: cover;
    height: 300px;
    display: -webkit-inline-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.advantage1,
.advantage3 {
    height: 300px;
    width: 25%;
    background-color: rgb(28, 42, 51);
    border-top: solid rgb(24, 207, 171) 7px;
    color: rgb(24, 207, 171);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.advantage2,
.advantage4 {
    height: 300px;
    width: 25%;
    background-color: rgb(24, 207, 171);
    border-top: solid rgb(255, 255, 255) 7px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.advantage1 .img {
    background-image: url("../img/icons/spritesheet.png");
    margin: 40px auto;
    width: 58px;
    height: 97px;
    background-position: -114px -5px;
}

.advantage2 .img {
    background-image: url("../img/icons/spritesheet.png");
    margin: 50px auto;
    width: 93px;
    height: 75px;
    background-position: -5px -91px;
}

.advantage3 .img {
    background-image: url("../img/icons/spritesheet.png");
    margin: 40px auto;
    width: 60px;
    height: 96px;
    background-position: -182px -5px;
}

.advantage4 .img {
    background-image: url("../img/icons/spritesheet.png");
    margin: 50px auto;
    width: 99px;
    height: 76px;
    background-position: -5px -5px;
}

/*OUR SERVICES START*/

.our-services {
    padding: 82px 0;
}

.tabs {
    width: 1140px;
    margin: 0 auto;
}

.tabs__content {
    display: none;
    /* по умолчанию прячем все блоки */
}

.tabs__content active img {
    padding-right: 10px;
}

.tabs__content.active {
    display: inline-flex;
    /* по умолчанию показываем нужный блок */
    color: #777777;
    font-size: 13.64px;
    font-weight: 300;
    line-height: 20px;
    text-align: justify;
}

.tabs__caption {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 24px;
}

.laborum {
    padding-left: 10px;
}



.our-servise {
    position: relative;
    width: 193px;
    border: solid rgb(210, 210, 210) 1px;
    color: #717171;
    font-size: 16px;
    font-weight: 400;
    line-height: 65px;
    text-align: center;
}

.our-servise::after {
    content: '';
    display: inline-block;
    background-image: url("../img/icons/spritesheet.png");
    width: 24px;
    height: 13px;
    background-position: -108px -151px;
    position: absolute;
    bottom: -12px;
    left: 84px;
    opacity: 0;
}

.our-servise:hover {
    background-color: rgb(24, 207, 171);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.our-servise.active {
    color: rgb(255, 255, 255);
    background-color: rgb(24, 207, 171);
}

.active::after {
    background-image: url("../img/icons/spritesheet.png");
    width: 24px;
    height: 13px;
    opacity: 1;
}

.background-section2 button:hover {
    background-color: rgb(24, 207, 171);
    cursor: pointer;
}

.everything {
    padding-top: 125px;
    color: rgb(24, 207, 171);
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}

.smooth-reliable {
    margin-top: 20px;
    color: rgb(216, 216, 216);
    font-size: 16px;
    line-height: 40px;
    text-align: center;
}

.btn-section2 {
    margin-top: 50px;
    text-align: center;
}

.btn-purchase1 {
    border-radius: 4px;
    border: none;
    background-color: rgb(24, 207, 171);
    width: 166px;
    height: 61px;
    margin-right: 20px;
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 700;
}

.background-section3 {
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: rgb(248, 252, 254);
}

.amazing-work-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.amazing-work-item {
    position: relative;
    z-index: 999;
    height: 206px;
}

.amazing-work-item-info {
    padding-top: 40px;
    border-top: 1px solid rgb(24, 207, 171);
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
}

.amazing-work-icon {
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    color: rgb(24, 207, 171);
    line-height: 40px;
    border: 1px solid rgb(24, 207, 171);
}

.amazing-work-icon:hover {
    background-color: rgb(24, 207, 171);
    color: rgb(255, 255, 255);
}

.amazing-work-icon:nth-child(odd) {
    margin-right: 10px;
}

.amazing-work-info-icons {
    display: flex;
    justify-content: center;
}

.amazing-work-info-title {
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(24, 207, 171);
    margin-top: 35px;
}

.amazing-work-info-description {
    color: rgb(161, 162, 162);
    font-size: 12px;
    padding-top: 13px;
}



.tabs-amazing-work {
    width: 86%;
    margin-left: 7%;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.tab-menu-section3 {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 72px;
    border: solid rgb(210, 210, 210) 1px;
    color: rgb(113, 113, 113);
    font-size: 14px;
    line-height: 57px;
}

.tab-menu-section3:hover {
    border-top: solid rgb(24, 207, 171) 2px;
    color: rgb(24, 207, 171);
    cursor: pointer;
}

.tab-menu-section3.active {
    border-top: solid rgb(24, 207, 171) 2px;
    color: rgb(24, 207, 171);
    cursor: pointer;
}

.gallery {
    width: 976px;
    padding-left: 180px;
    position: relative;
    text-align: center;
}

#loadMore {
    margin-top: 50px;
    border-radius: 4px;
    border: none;
    background-color: rgb(24, 207, 171);
    width: 166px;
    height: 61px;
    margin-right: 20px;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}

.background-section4 {
    background-size: cover;
    text-align: center;
    padding-bottom: 50px;
    color: rgb(255, 255, 255);
    background-attachment: fixed;
    text-align: center;
}

.section4-container {
    width: 1130px;
    height: 610px;
    padding-left: 120px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.foto1 {
    position: relative;
    width: 260px;
    height: 210px;
    background-image: url("../img/breaking-news/img1.png");
}

.foto2 {
    position: relative;
    width: 260px;
    height: 210px;
    background-image: url("../img/breaking-news/img2.png");
}

.foto3 {
    position: relative;
    width: 260px;
    height: 210px;
    background-image: url("../img/breaking-news/img3.png");
}

.foto4 {
    position: relative;
    width: 260px;
    height: 210px;
    background-image: url("../img/breaking-news/img4.png");
}

.foto5 {
    position: relative;
    width: 260px;
    height: 210px;
    background-image: url("../img/breaking-news/img5.png");
}

.foto6 {
    position: relative;
    width: 260px;
    height: 210px;
    background-image: url("../img/breaking-news/img6.png");
}

.foto7 {
    position: relative;
    width: 260px;
    height: 210px;
    background-image: url("../img/breaking-news/img7.png");
}

.foto8 {
    position: relative;
    width: 260px;
    height: 210px;
    background-image: url("../img/breaking-news/img8.png");
}

.date {
    position: absolute;
    top: 0 px;
    right: 0px;
    padding-top: 10px;
    background-color: rgb(32, 62, 56);
    width: 68px;
    height: 66px;
    text-align: center;
    font-size: 15.99px;
    line-height: 26px;
    text-align: center;
}

.assign {
/*    color: rgb(113, 113, 113));*/
    border: solid rgb(236, 240, 241) 1px;
    height: 70px;
    color: #717171;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}

.breaking-news-items:hover .date {
    background-color: rgb(24, 207, 171);
}

.breaking-news-items:hover .assign {
    color: rgb(24, 207, 171);
}

.comment {
    color: rgb(119, 119, 119);
    font-size: 13.99px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
}

.background-section5 {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: linear-gradient(rgba(46, 74, 91, 0.5), rgba(46, 74, 91, 0.5)), url(../img/Sections-background/section-3.jpg);
    background-size: cover;
/*    background: url("../img/Sections-background/section-3.jpg")no-repeat;*/
    background-position: bottom;
    text-align: center;
     background-repeat: no-repeat;
}

.background-section5 .section-title {
    color: rgb(255, 255, 255);
}



/* SLIDER START */

#slider {
    width: 1100px;
    height: 440px;
    margin: 0 auto 10px;
    overflow: hidden;
    position: relative;
}

#slider ul {
    overflow: hidden;
    *zoom: 1;
}

#slider ul li {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    float: left;
    width: 1100px;
/*    line-height: 300px;*/
    height: 440px;
}

.feedback {
    width: 1100px;
    color: rgb(187, 187, 187);
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}

.feedback::before {
    content: "";
    display: block;
    margin: 45px auto;
    background-image: url("../img/icons/spritesheet.png");
    width: 44px;
    height: 30px;
    background-position: -182px -111px;
}

.client-name {
    text-transform: uppercase;
    color: rgb(24, 207, 171);
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
}

.client-proffesion {
    margin-bottom: 37px;
    color: rgb(187, 187, 187);
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
    text-align: center;
}

.author-img {
    height: 143px;
    width: 143px;
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid rgb(24, 207, 171);
    box-shadow: 0px 0px 0px 13px rgba(24, 207, 171, 0.2);
}

#slider ul li img {
    width: 143px;
    position: absolute;
    top: 0;
    left: 0;
}

.slider-arrow {
    display: block;
    position: absolute;
    color: #fff;
    font-size: 14px;
    top: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: -15px;
    text-decoration: none;
    border: 0.5px solid white;
   }

.slider-arrow#sliderNext {
    right: 0;
}

.slider-arrow:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    background-color: rgb(24, 207, 171);
    border: none;
}

#pager {
    width: 530px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.slider-thumbnail {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    cursor: pointer;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    margin: 3px 15px;
}

.slider-thumbnail img {
    width: 60px;
    box-shadow: 0 0 0 4px rgba(24, 207, 171, 0.2);
     border-radius: 50%;
   
    }

.slider-thumbnail:hover,
.slider-thumbnail.active {
    border: 1px solid rgb(24, 207, 171);
     border-radius: 50%;
}

.slider-thumbnail.active {
    position: relative;
    top: -10px;
}


/* SLIDER END */

.background-section6 {
    padding-top: 100px;
    padding-bottom: 80px;
    background-size: cover;
}

.sect6-btn {
        text-align: center;
}

.btn-loadMore {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 4px;
    border: none;
    background-color: rgb(24, 207, 171);
    width: 166px;
    height: 61px;
    margin-right: 20px;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}

.footer {
    background-color: rgb(34, 53, 63);
    background-size: cover;
    height: 108px;
    color: rgb(174, 174, 174);
    font-size: 14px;
    font-weight: 300;
    line-height: 108px;
    text-align: center;
}

.footer > span {
    color: rgb(24, 207, 171);
}
